
body {
	color: #337ab7;
}

#page-wrapper {
	min-height: 888px;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 50px;
   background-color: #f5d8ef;
   text-align: center;
}

.text-center {
   text-align: center;
   top: 15px;
   position: relative;
}

.icone-home {
	position: relative;
	margin-left: 0;
	margin-right: 0;
	top: 130px;
	display: block;
}

.navbar-top-links>li>a {
    color: #337ab7;
}

.navbar-inverse {
    background-color: #f5d8ef;
    border-color: #f5d8ef;
}

.btn-primary {
    color: #fff;
    background-color: #f5d8ef;
    border-color: #f5d8ef;
}


.navbar-top-links>li>a:hover, .navbar-top-links>li>a:focus, .navbar-top-links>.open>a, .navbar-top-links>.open>a:hover, .navbar-top-links>.open>a:focus {
    color: #fff;
    background-color: #af66a0;
}